* {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
    font-family:'Georgia';
}

.logo-container{
    display: flex;
    justify-content: center;
}

#recipe-title{
    display: flex;
    justify-content: center;
}

.recipe-container1{
    width: 200px;
    height: 200px;
    border: 1px solid;
    display:flex;
    align-items: center;
    justify-content:center;
    
}
